<div class="container-fluid text-center  d-flex align-items-center flex-wrap">
    <img src="../assets/img/raisely.png" alt="logo" class="mx-auto my-1" height="150" width="150">

    <div class="form-container" [ngClass]="{'animate-bg': loading}">

        <h5>SIGN UP</h5>
        <form>

            <div class="form-group">
                <input type="text" required #userFirstName="ngModel" class="form-control mt-2" [(ngModel)]="firstname" name="firstname" placeholder="First Name" [disabled]="emailValidationLoading || loading" />
                <small *ngIf="userFirstName.touched">
                    <span *ngIf="userFirstName.errors?.required">This is a required field!</span>
                </small>

            </div>

            <div class="form-group">
                <input type="text" required #userLastName="ngModel" class="form-control mt-2" [(ngModel)]="lastname" name="lastname" placeholder="Last Name" [disabled]="emailValidationLoading || loading" />
                <small *ngIf="userLastName.touched">
                    <span *ngIf="userLastName.errors?.required">This is a required field!</span>
                </small>

            </div>




            <div class="form-group">
                <input class="form-control" type="email" #userEmail="ngModel" [(ngModel)]="email" name="email" required pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{3,4}$" placeholder="Email" [disabled]="emailValidationLoading || loading" (keyup)="validateEmail(userEmail)">

                <small *ngIf="userEmail.touched">
                    <span *ngIf="userEmail.errors?.required">This is a required field!</span>
                    <span *ngIf="userEmail.errors?.pattern"> Please input a valid email address</span>

                    <span >{{emailText}}</span>
                   
                </small>



            </div>

            <div class="form-group">
                <div class="d-flex form-control p-0">
                    <input required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*]).{8,}" minlength="8" #userPassword="ngModel" (keyup.enter)="signUp()" class="form-control border-0 h-100" [(ngModel)]="password" name="password" [type]="fieldTextType ? 'text' : 'password'"
                        id="defaultLoginFormPassword" placeholder="Password" [disabled]="emailValidationLoading || loading" />
                    <span class="input-group-text bg-transparent border-0">
                        <i class="fa" [attr.title]="!fieldTextType ? 'Show Password' : 'Hide Password'"
                            style="cursor: pointer" [ngClass]="{
                      'fa-eye-slash': !fieldTextType,
                      'fa-eye': fieldTextType
                    }" (click)="toggleFieldTextType()"></i>
                    </span>
                </div>
                <small *ngIf="userPassword.touched">
                    <span *ngIf="userPassword.errors?.required">This is a required field!</span>
                    <span class="d-block" *ngIf="userPassword.errors?.pattern">Your password must contain at least: <ul>
                            <li>one uppercase letter</li>
                            <li>one lowercase letter</li>
                            <li>one number</li>
                            <li>one alphanumeric character</li>
                        </ul> </span>

                    <span class="d-block" *ngIf="userPassword.errors?.minlength">Your password must be at least 8
                        characters long</span>

                </small>

            </div>


            <button class="btn btn-submit w-75 m-auto form-control" *ngIf="!loading" [attr.title]="!firstname || !lastname || !email || !password ? 'You have to fill in all the fields to submit' : 'Submit'" [disabled]="emailValidationLoading || !firstname || !lastname || !email || !password"
                (click)="signUp()"> Submit
            </button>

            <img src="../assets/img/spinner1.gif" alt="connecting" *ngIf="loading" height="50" width="50">

            <small class="d-block font-weight-bold mt-2"> {{feedbackText}}</small>

        </form>
    </div>
</div>